body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: url(./assets/Background.jpg);
  background-size: contain;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 8vh;
}

header {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  background-color: black;
  color: white;
  grid-column: 1 / span 2;
  padding: 10px 5px;
}

nav,
article {
  height: 100%;
  padding: 10px;
}

article .date {
  font-style: italic;
}

article .body {
  white-space: break-spaces;
}

.error {
  background-color: red;
  color: gold;
  padding: 5px;
}