#QuestBoard {
    background-image: url(assets/Board.jpg);
    background-size: contain;
    width: 800px;
    height: 610px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 20px;
    background-repeat: no-repeat;
}

@media(max-width: 800px) {
    #QuestBoard {
        width: 80vw;
        background-position: center;
    }
}

#quest {
    background-image: url(./assets/Scroll.png);
    width: 110px;
    height: 175px;
    background-size: contain;
    padding: 20px;
}

#quest h3 {
    font-size: 1vh;
    text-wrap: wrap;
    word-wrap: break-word;
    text-align: center;
}

#img {
    width: 21px;
    height: 15px;
}

#QuestBoard #quest .overlay .overlay-content2 {
    word-break: break-all;
    margin: -40vh;
}